.container__big-card{
    height: 29.25rem;
    width: 27rem ;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 30px;
    text-align: start;
    position: relative;

}

.big-card__title h1{
    font-size: 2rem;
    margin-top: 1.1rem;
}

.big-card__title h1 a{
    position: absolute;
    left: 0;
}

.big-card__description p{
    font-size: 1rem;
    position: absolute;
    left: 0;
    top:21rem;
}

.big-card__image img{
    width: 100%;
    min-width: 27rem;
}

