
<div class="container__small-card">

    <div class="all__container-small-card">

    <div class="small-card__image">
        <img src="../assets/img1smallcard.png" 
        alt="" 
        srcset=""
        height="252px"
        >
    </div>

    
    <div class="small-card__title">

        <h1><a href="#">Aqui title small card</a></h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. t!</p>
        
    </div>
    </div>
   

</div>
<div class="container__small-card__line"><hr></div>
