<header>
    <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
    <app-big-card photoCover="" cardTitle="Tatuagens: Quantas você tem?" cardDescripton="Descubra o que pensam pessoas que possuem + de 90% do corpo coberto de arte!"></app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card cardPhoto="./assets/img3smallcard.png" cardTitleSmall="Tatuagens mais buscadas em 2022." cardDescriptionSmall="Diversos modelos pra você se inspirar."></app-small-card>
        <app-small-card cardPhoto="./assets/img2smallcard.png" cardTitleSmall="Tatuagens tendência para 2023" cardDescriptionSmall="O que nossos apaixonados imaginam que teremos para o próximo ano"></app-small-card>
        <app-small-card cardPhoto="./assets/img1smallcard.png" cardTitleSmall="Preconceito no trabalho?" cardDescriptionSmall="Será que ainda existe?"></app-small-card>        
    </div>
</div>

