.container__menu-bar{
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__menu-bar ul{
    display: flex;
    flex-direction: row;
}

.container__menu-bar ul li{
    margin-right: 3rem;
    list-style: none;
    font-weight: bold;
    letter-spacing: 2px;
    
}
